body {
    text-align: center;
}

#speed-slider{
    width:600px;
}

#box{
    width:75px;
    height:0px;
    background:yellow;
    display:inline-block;
    margin:0px 0px 0px 10px;
}
.starTimer{
    animation: barShrink 5s linear 0s 1;
}

@keyframes barShrink {
	0% {
		height: 700px;
	}
	100% {
		height: 0px;
	}
}

.btnRound {
    display:inline-block;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:25px;
    color:white;
    border-radius:25px;
    background:black;
    cursor:pointer;
}
